:root {
	font-family: 'Nunito Sans', sans-serif;
	background-color: var(--background);
	color:(--primary-text);
  --box-shadow: 0px 3px 10px 0.1px  rgba(0 0 0 / 0.2);

	/*
    ---FONT SIZES--- 
  */
	--step--2: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
	--step--1: clamp(0.83rem, calc(0.81rem + 0.1vw), 0.9rem);
	--step-0: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
	--step-1: clamp(1.2rem, calc(1.13rem + 0.31vw), 1.41rem);
	--step-2: clamp(1.44rem, calc(1.33rem + 0.48vw), 1.76rem);
	--step-3: clamp(1.73rem, calc(1.56rem + 0.71vw), 2.2rem);
	--step-4: clamp(2.07rem, calc(1.84rem + 1.01vw), 2.75rem);
	--step-5: clamp(2.49rem, calc(2.16rem + 1.42vw), 3.43rem);

	/*
    ---SPACINGS---
  */
	--space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
	--space-2xs: clamp(0.5rem, calc(0.48rem + 0.09vw), 0.56rem);
	--space-xs: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.88rem);
	--space-s: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
	--space-m: clamp(1.5rem, calc(1.43rem + 0.28vw), 1.69rem);
	--space-l: clamp(2rem, calc(1.91rem + 0.38vw), 2.25rem);
	--space-xl: clamp(3rem, calc(2.87rem + 0.56vw), 3.38rem);
	--space-2xl: clamp(4rem, calc(3.82rem + 0.75vw), 4.5rem);
	--space-3xl: clamp(6rem, calc(5.74rem + 1.13vw), 6.75rem);

}

body{
	transition: 1s;
}

#root{
	width: 100%;
}